<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Alpha2code</th>
        <th>capital</th>
        <th>region</th>
        <th>currencies code</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let country of data">
           <td>{{country.id}}</td>
           <td>{{country.countryname}}</td>
           <td>{{country.alpha2code}}</td>
           <td>{{ country.capital }}</td>
           <td>{{ country.region }}</td>
           <td>{{ country.currencies_code }}</td>
       </tr>
    </tbody>
  </table>
  